<header>
  <div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    {%- if page_paths -%}
      <nav>
        <ul>
          {% for link in site.data.header %}
          <li>
            <a href="{{ site.baseurl }}{{ link.permalink }}" class="nav">{{ link.title }}</a>
          </li>
          {% endfor %}
      </ul>
      </nav>
    {%- endif -%}
  </div>
</header>
